html{
    height: 800px;
    background-image: url("https://images5.alphacoders.com/600/thumbbig-600293.webp");
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: scroll;
}

    #thirdDiv{ 
    max-width: 400px;;
    background-color: rgb(241, 238, 232) ;
    padding: 20px;
    border: 25px outset rgb(193, 56, 44);
    margin: 0 auto; 
}

h1{
    color:rgb(95, 29, 29);
}
img{
    width: 350px;
}

#spanId{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-size: 18px;
    margin: 2px;
}


